@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Library Management System</h1>
    <p>A Library management system is a software that uses to maintain the record of the library. It contains work like the issue the available books in the library, the books are issued or returning or renewing a book, etc.</p>
</div>
